body{
	background-color: #232323;
}

.square {
	width: 30%;
	padding-bottom: 30%;
	background: purple;
	margin: 1.66%;
	float: left;
}

#container {
	max-width: 40%;
	margin: 0 auto;
}
 h1{ 
 	color: white;
 	align-self: center;
  }